<div>
    <span ng-if="amountBlackSymbols">
        {{ amountBlackSymbols }} 
        <img ng-src="{{ colors.black.pathToImg }}" alt="" class="manasymbol"> 
    </span>
    <span ng-if="amountWhiteSymbols">
        {{ amountWhiteSymbols }} 
        <img ng-src="{{ colors.white.pathToImg }}" alt="" class="manasymbol"> 
    </span>      
    <span ng-if="amountBlueSymbols">
        {{ amountBlueSymbols }} 
        <img ng-src="{{ colors.blue.pathToImg }}" alt="" class="manasymbol"> 
    </span>     
    <span ng-if="amountGreenSymbols">
        {{ amountGreenSymbols }} 
        <img ng-src="{{ colors.green.pathToImg }}" alt="" class="manasymbol"> 
    </span>     
    <span ng-if="amountRedSymbols">
        {{ amountRedSymbols }} 
        <img ng-src="{{ colors.red.pathToImg }}" alt="" class="manasymbol"> 
    </span>     
</div>