<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MTG Commander APP</title>
        <link rel="stylesheet" type="text/css" href="../../node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" type="text/css" href="main.css">
        <script src="https://use.fontawesome.com/e87c62054b.js"></script> 
        <script src="../../node_modules/angular/angular.js"></script>
        <script src="../../bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
        <script src="../../node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="../../node_modules/angular-aria/angular-aria.min.js"></script>
        <script src="../../node_modules/angular-material/angular-material.min.js"></script>
        <script src="../../node_modules/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../../node_modules/lodash/lodash.min.js"></script>                                                
        <script src="autocomplete.js"></script>
        <script src="app.js"></script>
        <script src="smallslider.js"></script>          
        <script src="constants.js"></script>
        <script src="functions.js"></script>
        <script src="services.js"></script>   
        <script src="links.js"></script>
        <script src="counters.js"></script> 
        <script src="https://use.fontawesome.com/54cb8d98a3.js"></script>    
    </head>
    <body>
      <div ng-app="mtg_commander_app" ng-controller="MainCtrl">   
        <!-- header: naam app / naam deck -->     
        <div style="position:relative;">
          <img class="appIcon" src="images/blackLotus.png" alt="">
          <input type="text" ng-model="deck.name" placeholder="Name of your deck">
          <span>{{ deck.name }}</span>
          <!-- opgeslagen deck selecteren -->
          <select name="" id="" ng-options="deck.name for deck in alldecks" ng-model="selectedDeck.deck" ng-change="deckSelected()">            
          </select>
          <button ng-click="createNewDeck()"> new deck </button>
          <button ng-click="saveDeck('asNewDeck')">save deck as ...</button>
          <input type="text" ng-model="deck.name" placeholder="Rename your deck">
          <div my-links></div>   
        </div>
        <!-- kaarten zoeken en kaartversie kiezen uit slider -->
        <div style="width:237px; height:340px; float:left; border: solid 1px black;">
          <div ng-include="'autocompletetemplate.html'"></div>           
          <div ng-if="!cardVersions" style="width: {{ cardWidth }}px; height: {{ cardHeight }}px; background-color: green; margin-left: 33px;"></div>            
          <div ng-if="cardVersions"
                small-slider 
                collection="cardVersions"              
                itemheight="{{ cardHeight }}" 
                itemwidth="{{ cardWidth }}"                          
                clickslideritem="selectCardVersion"
                style="position: relative; margin-left: 33px;"></div>          
        </div>
        <!-- opslagplaats voor kaartversies -->
        <div style="float:left; width:{{ (cardWidth + 10) * 4}}px; height:340px; border: solid 1px green; overflow-y: scroll; overflow-x: hidden;">                    
          <p style="height: 27px;">Geselecteerde kaarten</p>                                         
          <ul class="selectedCardsPile"
              style="width:{{ (cardWidth + 10) * 4}}px; height:260px; margin:0px; border: solid 1px red; "
              dnd-horizontal-list="true">
            <li ng-repeat="card in selectedCards"
                dnd-draggable="card"                                  
                dnd-effect-allowed="move">
                <i class="fa fa-trash" aria-hidden="true" ng-click="deleteSelectedCard(card)"></i>
                <img ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseId}}&type=card" alt="" style="width: {{ cardWidth }}px; height: {{ cardHeight }}px">
              <!-- TODO add img  ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseId}}&type=card" -->
                <!-- {{ card.name }} -->
            </li>            
          </ul>          
        </div>
        <!-- samenvatting deck -->
        <div style="float: left; width: 282px; height: 340px; border:solid black 1px; overflow-y: scroll; position: relative;">
          <p style="background-color: green;">
            {{ deck.name }} 
            <span ng-click="saveDeck()">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </span>
            <span>{{amountOfDifferentCards(deck);}}</span>
          </p>
          <p ng-if="showSavePopup" style="background-color: pink";>
            Deck saved.
          </p>
          <div ng-repeat="pile in deck.piles">
            <p>{{ pile.name }} <span style="float: right;">{{ pileLength(pile); }}</span></p>
            <ul>
              <li ng-repeat="card in pile.cards">{{ card.name}}</li>
            </ul>
          </div>        
        </div>                                         
        <div style="clear: left;"></div>
        <!-- piles maken -->
        <div style="border: 1px solid black">
          <form ng-submit="createPile($event);">  
            <input type="text" placeholder="Name of pile" ng-model="nextPileLabel">
            <input type="submit" value="Make pile">
          </form>
          
        </div>
        <!-- labels om view te togglen -->
        <div>
          <i class="fa fa-eye" aria-hidden="true" ng-click="showAllPiles()" style="background-color: pink;"></i>
          <i class="fa fa-eye-slash" aria-hidden="true" ng-click="hideAllPiles()" style="background-color: lightblue;"></i>
          <span ng-repeat="pile in deck.piles" style="padding: 5px 10px;">
            <span ng-click="togglePile(pile)" style="background-color: yellow; margin-right: 10px">
              {{ pile.name}} 
              <i class="fa fa-eye" aria-hidden="true" ng-if="showPile(pile)"></i>
              <i class="fa fa-eye-slash" aria-hidden="true" ng-if="!showPile(pile)"></i>
            </span>
          </span>
        </div>
        <!-- table met piles -->
        <div class="table">
          <div ng-repeat="pile in deck.piles" class="pile" style="float: left;" ng-if="showPile(pile)">
            <p>
              {{pile.name}} 
              <div color-counter pile="pile"></div>
              <span ng-click="changePileView(pile, 'list')">
                <i class="fa fa-list" aria-hidden="true"></i>
              </span>
              <span ng-click="changePileView(pile, 'images')">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
              </span>
              <span ng-click="deletePile(pile, $event)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </span>
              <span style="float: right;">{{ pileLength(pile); }}</span>
            </p> 
            <ul dnd-list="pile.cards"
                dnd-horizontal-list="true"
                ng-class="getPileClass(pile)">
              <li ng-repeat="card in pile.cards"
                  dnd-draggable="card"
                  dnd-moved="pile.cards.splice($index,1)"                  
                  dnd-effect-allowed="all"
                  dnd-selected="draggedcard = card"
                  ng-class="{'selected': draggedcard ===  card}"
                  style="position: relative"
                  class="cardWrapper">
                  <div class="hidden" style="width: {{ cardWidth - 2}}px; height: {{ cardHeight - 2}}px; background-color:black; opacity: 0.4; border-radius: 5px; position: absolute; top: 2px; left: 2px; ">                    
                  </div>
                  <i class="fa fa-trash hidden" 
                      aria-hidden="true" 
                      ng-click="deleteCard(pile, card)"
                      style="color: yellow; cursor: pointer; opacity: 1; position: absolute; top: 7px; right: 10px;"></i>
                  <img ng-if="pile.view === 'images'" 
                       ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseId}}&type=card" 
                       alt="" 
                       style="width: {{ cardWidth }}px; height: {{ cardHeight }}px">
                  <span ng-if="pile.view === 'list'">
                    {{ card.name}}
                  </span>
                  <!-- {{card.name}} -->
              </li>
            </ul>            
          </div>                        
        </div> <!-- end table -->
        <span style="cursor: pointer; color: pink;" ng-click="showPopup('checkList')">
          <img class="imgButton" src="images/senseis.jpg" alt="">
        </span>
        <span style="cursor: pointer; color: yellow;" ng-click="showPopup('ccCounter')">
          <img class="imgButton" src="images/prism.jpg" alt="">
        </span>
        <span style="cursor: pointer; color: lightgreen;" ng-click="showPopup('ctCounter')">
          <img class="imgButton" src="images/demonictutor.jpg" alt="">
        </span>    
      </div><!-- end ng-app -->
    </body>

</html>
